* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* css for navbar  */

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

#header {
    min-height: 100vh;
    
}

#header::before {}

body {
    overflow-x: hidden;
    font-family: sans-serif;
    
}

nav {
    /* box-shadow: 5px 5px 5px black; */
    background: #ededed;
    height: 80px;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100000;
    width: 100%;
    overflow-x: hidden;
}

label.logo {
    color: rgb(8, 8, 8);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

#google_translate_element select {
    background-color: #838080;
    padding: .5rem;
    color: white;
    display: inline-block;
    float: left;
}

.goog-logo-link {
    display: none !important;
}

.goo-te-gadget {
    color: transparent !important;
}

.goog-te-banner-frame {
    display: none !important;
}

nav ul li a {
    color: rgb(12, 109, 255);
    font-size: 18px;
    padding: 7px 13px;
    font-family: sans-serif;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a:focus {
    color: rgb(233, 64, 120);
}

#contact a {
    background-color: rgb(0, 81, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 15px;
    transition: .3s;
}

#contact a:hover {
    border: 2px solid rgb(0, 81, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 81, 255);
    padding: 10px 20px;
    border-radius: 5px;
}

.checkbtn {
    color: black;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
    color: black;
}


.logo-icon {}

@media (max-width: 952px) {
    label.logo {
        font-size: 3rem;
        padding-left: 5rem;
    }

    nav ul li a {
        font-size: 1.6rem;
    }
}

@media (max-width: 858px) {
    #header {
        width: 100%;
    }

    .checkbtn {
        display: block;
        color: #000000;
    }

    .myfirstcontainer {
        background-image: url('img/evgeni-tcherkasski-Gyp9-tIZxiw-unsplash.jpg');
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        top: 80px;
        left: -100%;
        z-index: 100;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
        color: black;
    }

}
/* main-section start  */
#first-page{
    min-height: 60vh;
    background-color: #ededed;

}
.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    align-items: center;
}
.head{
    margin-top: 5rem;
}
.head h1{
    font-size: 3rem;
}
.search-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3rem;

}
.search-box input{
  
    padding: 1.5rem 24rem;
    border-radius: 3rem;
    border: none;
}
  #hospital {
      min-height: 60vh;
      margin-top: 4rem;
  }

  #hospital h2 {
      margin-top: 2rem;

      font-size: 3rem;
      text-align: center;
  }
.items-hospital {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.items img {
    width: 25rem;
    height: 20rem;
}

.items {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 1rem;
    padding-bottom: 1rem;


}

.items p {
    margin: .5rem;
    font-size: 1.5rem;
}
@media(max-width:958px){
    .main-container{
        flex-direction: column;
    }
    .items-hospital{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
/* main-section start end */
/* footer section start  */
#footer {
    min-height: 80vh;
    width: 100%;
    background-color: #e1f5ff;
    margin-top: 5rem;
}

.items-section {
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
}

.items-section ul ul {
    font-size: 2rem;
}

.items-section ul li {
    font-size: 1.5rem;
    padding-top: 1rem;
}
/* footer section end */
@media(max-width:958px){
    html{
        font-size: 55%;
    }
}
@media(max-width:400px){
    html{
        font-size: 45%;
    }
}